@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Tajawal', sans-serif ;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app{
    width: 70vw;
    max-width: 370px;
    min-width: 370px;
    height: 85vh;
    padding: 5px;
    background-color: rgb(6, 136, 138);
    border-radius: 20px;
    box-shadow: 1px 1px 8px black;
}
.searchBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
}
.searchBar input{
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(56, 55, 55);
}
.searchBar .icon{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.humidity-windSpeed{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.state img{
    width: 160px;
    height: 160px;
    object-fit: cover;
}
.temperature .contry,
.temperature .value{
    font-weight: bold;
    color: rgb(232, 228, 228);
    font-size: 2.2rem;
    height: 10vh;
}

.humidity,
.windSpeed{
    display: flex;
    
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(57, 58, 58);
}
.humidity img,
.windSpeed img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}